extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			if !data.post
				h2 Invalid Post.
			else
				header
					h1= data.post.title
				.post
					if data.post.image.exists
						.image-wrap: img(src="/images/post/" + data.post.image.filename).img-responsive
					.postText
						!= data.post.content.full

					h5.stylaTittel Publisert
					p.pubMeta
						if data.post.publishedDate
							|  #{data.post._.publishedDate.format('MMMM Do, YYYY')}
						if data.post.categories && data.post.categories.length
							|  i
							each cat, cat_i in data.post.categories
								a(href='/galleri/' + cat.key)= cat.name
								if cat_i < data.post.categories.length - 1
									| ,
								else
						if data.post.author
							|  av #{data.post.author.name.first}

						if data.post.content.textSources || data.post.content.onlineSources
							h5.stylaTittel Kilder:
							p.pubMeta #{data.post.content.textSources}
							p.pubMeta: a(href=data.post.content.onlineSources) #{data.post.content.onlineSources}

						//Kodebiten over viser alle tilgjengelige kilder, erstattet kodebiten under + lignende kodebit for content.textSources
						//if data.post.content.onlineSources
						//	p: a(href=data.post.content.onlineSources) #{data.post.content.onlineSources}
				hr    
				ul
					li: a(href='#header') &uarr; Tilbake til toppen
					li: a(href='/galleri') &larr; Tilbake til galleriet

				// Lister alle andre poster. Snevre inn til 3 innenfor samme kategori med random shit going on
				- var posts = data.posts
				- var thisPost = data.post
				- var kategorier = []
				- var artikler =[]
				- var artikkel
				- kategorier.pop()
					h2#relArt: | <span id="foran">–</span> Relaterte artikler <span id="bak">–</span> <br/>
				section.andreArtikler
					each x in data.post.categories
							- kategorier.push(x._id.toString())
					//p= kategorier

					// denne kan nok gjøres bedre
					each y in data.posts
						- var x = 0
						while x < y.categories.length
							if artikler.indexOf(y) == -1
								if kategorier.indexOf(y.categories[x].toString()) != -1 && y.slug != thisPost.slug
									- artikler.push(y)
							- x++

					//Shuffler artikler
					- function shuffle(a){var j, x, i;for(i = a.length; i; i -= 1){j = Math.floor(Math.random() * i);x = a[i - 1];a[i - 1] = a[j];a[j] = x;}}
					- shuffle(artikler)
					// Velger ut dei tre fyrste
					each i in [0, 1, 2]
						- var artikkel = artikler[i]
						if artikkel != null
							.artikkel
								a(href='/galleri/post/'+artikkel.slug)
									h3=artikkel.title
									if artikkel.image.path
										img(src="/images/post/" + artikkel.image.filename)
									else
										img(src="/images/Logo.png")
